* {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 24px;
  font-weight: 500;
  background-color: #fafafa;
  color: #273445;
  margin: 1em auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

h1 {
  font-size: 75%;
}

h2 {
  font-size: 200%;
}

section.hero {
  width: 100%;
  background-image:
    linear-gradient(rgba(255,255,255,0.85), rgba(255,255,255,0.55)),
    url("https://source.unsplash.com/random/1920x500");
  background-size: cover;
  padding: 4em 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
