* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 1.5;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  color: #273445;
  font-size: 22px;
  font-weight: 500;
  margin: 1em auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.125;
}

h1 {
  font-size: 75%;
}

h2 {
  font-size: 200%;
}

a {
  color: inherit;
  font-weight: 800;
  text-decoration: none;
  opacity: 0.8;
}

a:hover {
  text-decoration: underline;
  opacity: 1;
}

.illustration {
  font-size: 0;
}

.illustration img {
  width: calc(33.33% - 2rem);
  margin: 1rem;
}

section.hero {
  background-image:
    linear-gradient(
      rgba(108, 99, 255, 0.25),
      rgba(54, 50, 128, 0.85)
    ),
    url("https://source.unsplash.com/collection/659270/1920x500");
  background-position: center;
  background-size: cover;
  color: white;
  padding: 3vw 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 90vw;
  width: 900px;
}

footer {
  font-size: 50%;
  margin-top: 8em;
  text-align: right;
}

