* {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  color: #273445;
  font-size: 22px;
  font-weight: 500;
  margin: 1em auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  line-height: 1.125;
}

h1 {
  font-size: 75%;
}

h2 {
  font-size: 200%;
}

section.hero {
  background-image:
    linear-gradient(
      rgba(39,52,69, 0.25),
      rgba(14, 20, 31, 0.85)
    ),
    url("https://source.unsplash.com/collection/659270/1920x500");
  background-position: center;
  background-size: cover;
  color: white;
  padding: 3vw 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-left: auto;
  margin-right: auto;
  max-width: 90vw;
  width: 900px;
}
