<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ModernBrand</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="{{ '/styles.css' | prepend: site.baseurl | append: '?v=' | append: site.time }}">
  </head>
  <body class="{% if page.url == '/' %}home {% endif %}{{ page.url | replace: '.html', '' | slugify }}">
    <section class="grid main">
      <div>
        {{ content }}
      </div>
    </section>
    <footer>
      Whipped up in about 10 mins by <a href="https://cassidyjames.com">Cassidy James</a>
    </footer>
  </body>
</html>
